body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
    color:#0040df
}

nav {
    background-color: black;
    text-align: center;
}

.ullist,.lilist {
    list-style-type: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 3px 20px;
}

.Email {
    color: rgb(34, 34, 233);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 20px;
}
.main{
    background-color: white;
}
.A {
    background-color: rgb(184, 183, 183);
}