body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
    color:rgb(10, 72, 179)
}

nav {
    background-color: black;
    text-align: center;
}

.ullist,.lilist {
    list-style-type: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0px 20px;
    font-size: 18px;
}

.Email {
    color: rgb(34, 34, 233);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 20px;
}
.main{
    background-color: gray;
}
.A {
    background-color: white;
}

section{
    background-color:white;
    margin: 10px;
    border-radius: 10px ;
    padding: 10px;
}
.main{
    background-color: rgb(204, 204, 204);
    padding: 4px;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}


.hyper {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
}
    

.hyper:hover{
    color: black;
    background-color: gray;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.grid {
    background-color: #f4f4f4; 
    border-radius: 10px; 
    padding: 20px; 
    
}

.grid h3 {
    color: #0040df; 
    margin-bottom: 10px;
}

.grid p {
    color: #333; 
}

.heroimg {
    position: relative;
    background-image: linear-gradient(rgba(16, 10, 10, 0.796), rgba(0, 0, 0, 0.895)), url('logo.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.heroimg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroimg-content {
    text-align: center;
    color: white;
    padding: 20px;
}

.heroimg h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.heroimg p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0040df;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0262ff;
}